<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test</title>
    <script>
        var baseUrl = "{{htmlWebpackPlugin.options.baseUrl}}";
    </script>
    {{htmlWebpackPlugin.options.serviceWorkScript}}
</head>
<body>
    <div id="app"></div>
</body>
</html>